<div class="container-fluid h-100">
    <div class="row">
        <div class="col-sm-3">
            <app-navigation></app-navigation>
        </div>
        <div class="col-sm-9">

            <br><br>
            <h5 class="text-center">CAMPAIGN LOGS</h5>

            <div class="card bg-light text-dark">
                <div class="card-body">

                    <table class="table table-striped">
                        <tbody>
                            <tr style="background-color: #888; color:#f8f9fa;">
                                <td width="13%">Date</td>
                                <td>Total<br>Count</td>
                                <td>Total<br>Delivered</td>
                                <td>SMS<br>Count</td>
                                <td>SMS<br>Delivered</td>
                                <td>Xiaomi<br>Count</td>
                                <td>Xiaomi<br>Delivered</td>
                                <td>Google RCS<br>Count</td>
                                <td>Google RCS<br>Delivered</td>
                            </tr>

                        </tbody>
                        <tbody id="jar">
                            <tr class="content">
                                <td>NODATA</td>
                                <td>NODATA</td>
                                <td>NODATA</td>
                                <td>NODATA</td>
                                <td>NODATA</td>
                                <td>NODATA</td>
                                <td>NODATA</td>
                                <td>NODATA</td>
                                <td>NODATA</td>
                            </tr>
                        </tbody>



                    </table>



                    <nav>
                        <ul class="pagination justify-content-center pagination-sm">
                        </ul>
                    </nav>

                </div>
            </div>

        </div>
    </div>
</div>